@import url("font.css");
/*RESET DEFAULT HTML*/
* {
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

li {
  list-style: none; }

table {
  border-collapse: separate;
  border-spacing: 0; }

img {
  border: 0; }

input:active, button:active, textarea:active {
  outline: none; }
input:focus, button:focus, textarea:focus {
  outline: none; }
input:active, button:active, textarea:active {
  outline: none; }

button {
  text-transform: uppercase;
  padding: 10px 10px 13px 10px;
  box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.15);
  background: #01923f;
  border: 0;
  margin: 5px 10px;
  min-width: 120px;
  border-radius: 3px;
  color: #fff;
  letter-spacing: 0.11em; }
  button:active {
    box-shadow: inset 0 -100px 0 0 rgba(0, 0, 0, 0.15), inset 0 1px 0 0 rgba(0, 0, 0, 0.15); }
  button:hover {
    cursor: pointer; }

input {
  background: #fff;
  border: 1px solid #ddd;
  padding: 8px 13px;
  border-radius: 3px;
  transition: border .5s ease; }
  input:focus {
    border-color: #aaa;
    transition: border .5s ease; }

a {
  text-decoration: none;
  color: #3F51B5; }

::placeholder {
  color: #ccc; }

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background: transparent !important;
  -webkit-box-shadow: 0 0 0 30px transparent inset; }

.float_left {
  float: left; }

.float_right {
  float: right; }

.clearfix:after {
  display: table;
  content: '';
  clear: both; }

.container {
  width: 1200px;
  margin: 0 auto; }

/* D E S K T O P */
/*DEFAULT*/
body {
  background: #edeef0;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #666; }

header {
  position: fixed;
  display: block;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  right: 0;
  height: 75px;
  z-index: 1000; }

.nav_logo img {
  max-width: 100px;
  padding: 5px 10px 5px 0; }
.nav_logo h1 {
  font-size: 16px;
  color: #01923f; }
.nav_logo h2 {
  font-size: 14px;
  color: #13B057;
  font-weight: 300; }

.user_nav > li {
  display: inline-block;
  padding: 9px; }

#dashboard_menu {
  background: #fff;
  padding: 20px 10px;
  position: fixed;
  left: 0;
  top: 75px;
  bottom: 0;
  width: 200px;
  z-index: 999; }
  #dashboard_menu li {
    display: block;
    padding: 10px; }
    #dashboard_menu li:hover {
      cursor: pointer;
      background: #f2f4f7; }
  #dashboard_menu li.active {
    background: #f2f4f7; }
    #dashboard_menu li.active:hover {
      cursor: pointer; }

.dashboard_content {
  background: #fff;
  margin: 95px 20px 50px 240px;
  padding: 20px; }

.table_def tr td:first-child {
  border-left: 5px solid transparent; }
.table_def tr:hover td {
  cursor: pointer;
  background: #fffbe7;
  border-left-color: #507299; }
.table_def tr th {
  background: #f7f7f7;
  color: #507299;
  text-align: left;
  text-transform: uppercase;
  font-size: 10px;
  padding: 15px 5px;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  font-weight: 400; }
  .table_def tr th:hover {
    cursor: pointer; }
.table_def tr td:first-child {
  text-align: center; }
.table_def tr td {
  vertical-align: middle;
  border-bottom: 1px solid #eee;
  vertical-align: middle;
  padding: 10px 5px;
  font-size: 12px;
  color: #777;
  background: #fff;
  max-width: 200px;
  min-width: 50px;
  font-weight: 300; }

#popup_box {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10000; }

.title_modal {
  background: #f2f4f7;
  font-size: 14px;
  line-height: 50px;
  color: #01923f;
  font-weight: 100;
  padding-left: 25px; }

.box_modal {
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  max-height: 90vh;
  max-width: 90vw;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

#content_modal {
  box-sizing: border-box;
  overflow-y: scroll; }

div.close_modal {
  background-position: -4px -4px;
  width: 12px;
  height: 12px;
  position: absolute;
  right: 0;
  margin: 19px 20px; }

.input_dashed {
  display: block;
  outline: 1px dashed #ddd;
  margin: 0px;
  padding: 5px 10px;
  font-size: 11px;
  color: #aaa;
  background: #FFF;
  box-sizing: border-box; }
  .input_dashed input {
    display: block;
    height: 24px;
    border: 0;
    padding: 0;
    width: 100%;
    font-size: 12px;
    font-size: 12px;
    box-sizing: border-box; }

.input_dashed_file {
  display: block;
  outline: 1px dashed #ddd;
  margin: 0px;
  line-height: 32px;
  padding: 5px 10px;
  font-size: 11px;
  color: #aaa;
  background: #FFF;
  box-sizing: border-box;
  margin-bottom: 1px; }
  .input_dashed_file input {
    display: none; }
  .input_dashed_file span {
    float: right;
    background: #ddd;
    text-align: center;
    border-radius: 2px;
    padding: 0px 25px;
    line-height: 24px;
    margin: 4px; }
    .input_dashed_file span:hover {
      cursor: pointer;
      background: #507299;
      color: #fff;
      transition: all ease 1s; }
    .input_dashed_file span:active {
      cursor: pointer;
      background: #7996B7;
      color: #fff;
      transition: all ease 1s; }

.notes_modal {
  background: #f2f4f8;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 2px;
  border: 1px dotted #ddd; }

.custom_autocomplete {
  background: #fff;
  border: 1px solid #ddd;
  display: inline-block;
  margin: 10px 20px;
  border-radius: 2px;
  box-sizing: border-box;
  width: 410px;
  padding: 3px 1px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); }
  .custom_autocomplete select {
    height: 28px;
    border: 0;
    display: inline-block;
    width: 200px;
    float: right;
    margin-right: 2px; }
  .custom_autocomplete input {
    border: 0; }
  .custom_autocomplete ul {
    position: absolute;
    border-top: 0;
    margin: -2px;
    width: 410px;
    box-sizing: border-box; }
    .custom_autocomplete ul li {
      border-right: 1px solid #ddd;
      padding: 6px 10px;
      background: #fff;
      border-left: 1px solid #ddd;
      margin-top: -1px; }
      .custom_autocomplete ul li:last-child {
        border-radius: 0 0 3px 3px;
        border-bottom: 1px solid #ddd; }
      .custom_autocomplete ul li:hover {
        background-color: #f7f7f7;
        cursor: pointer; }

.btn_submit_assess {
  background: #01923f;
  color: #fff;
  display: inline-block;
  margin: 10px 20px 9px -22px;
  border-radius: 0 2px 2px 0;
  box-sizing: border-box;
  padding: 0px 32px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  float: left;
  line-height: 37px; }
  .btn_submit_assess:hover {
    cursor: pointer;
    background: #13B057; }

.section_iin_file_list {
  padding: 5px 0;
  border-radius: 2px; }
  .section_iin_file_list > div {
    color: #2a5885;
    padding: 7px 10px;
    margin: 5px 0;
    transition: background .5s ease; }
    .section_iin_file_list > div div {
      line-height: 26px;
      display: inline-block;
      max-width: 70%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden; }
      .section_iin_file_list > div div:before {
        display: inline-block;
        background: url(file.svg);
        height: 15px;
        width: 15px;
        content: '';
        background-size: cover;
        margin: 0 10px -3px 0; }
    .section_iin_file_list > div:hover {
      background: #e9edf1;
      border-radius: 2px;
      transition: background .5s ease; }
    .section_iin_file_list > div .btn_download {
      background: rgba(0, 0, 0, 0.2);
      padding: 5px 10px;
      border-radius: 2px;
      color: #777;
      font-size: 12px;
      transition: all .5s ease; }
      .section_iin_file_list > div .btn_download:before {
        display: inline-block;
        background: url(download.svg);
        height: 10px;
        width: 10px;
        content: '';
        background-size: cover;
        margin: 0 10px 0 0; }
      .section_iin_file_list > div .btn_download:hover {
        background: #507299;
        color: #ffffff;
        transition: all .5s ease; }

.section_upload_list_file {
  margin: -20px -20px 0 -20px; }
  .section_upload_list_file .addFileButton {
    background: rgba(0, 0, 0, 0.03);
    line-height: 50px;
    text-align: center;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 0 0 1px 0;
    color: #507299; }
    .section_upload_list_file .addFileButton:hover {
      cursor: pointer;
      background: rgba(0, 0, 0, 0.05); }
    .section_upload_list_file .addFileButton:active {
      padding: 1px 0 0 0; }
    .section_upload_list_file .addFileButton span {
      background: url(upload.svg) no-repeat left center;
      padding-left: 24px;
      background-size: 14px 14px;
      font-weight: 400; }
  .section_upload_list_file .nothing_upload_list {
    padding: 10% 5%;
    text-align: center;
    color: #aaa; }
  .section_upload_list_file .section_upload_list_verify {
    border-top: 1px solid #f2f4f7;
    margin: 20px 0 10px 0;
    padding: 5px 0; }
    .section_upload_list_file .section_upload_list_verify button {
      box-shadow: none;
      padding: 8px 20px 9px;
      min-width: auto;
      margin: 10px 0 0 0; }
  .section_upload_list_file .item_upload {
    background: #fff;
    margin: 0 20px;
    border-bottom: 1px solid #eee;
    line-height: 50px;
    display: block;
    position: relative; }
    .section_upload_list_file .item_upload:before {
      content: '';
      display: block;
      float: left;
      width: 20px;
      height: 20px;
      background: url(file.svg);
      background-size: cover;
      margin: 15px; }
    .section_upload_list_file .item_upload span {
      background: url(delete.svg);
      background-size: cover;
      font-size: 0;
      display: block;
      position: absolute;
      width: 15px;
      height: 15px;
      margin: 17.5px;
      right: 0;
      top: 0; }
    .section_upload_list_file .item_upload input {
      display: none; }

.slide_comment textarea {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 2px;
  margin: 10px 0;
  padding: 10px;
  box-sizing: border-box;
  font-size: 12px; }

.btn_plus_upload {
  position: absolute;
  right: 0;
  z-index: 1;
  width: 30px;
  height: 30px;
  min-width: auto;
  margin: 10px 30px; }

.verify_section {
  background: #f2f4f8;
  padding: 5px 20px; }
  .verify_section button {
    box-shadow: none;
    padding: 8px 20px 9px;
    min-width: auto;
    margin: 10px 0; }

.id_status {
  box-sizing: border-box; }
  .id_status span {
    margin: 0 15px 0 0;
    padding: 5px 5%;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: #ddd;
    white-space: nowrap;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center; }
    .id_status span.ADMIN {
      background-color: #01923f;
      color: #fff; }

.notif_box {
  position: absolute;
  display: none;
  width: 300px;
  background: #fff;
  border-radius: 3px;
  top: 60px;
  right: 60px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2); }

.notif {
  background: #fff;
  border-top: 1px solid #eee;
  font-size: 12px;
  padding: 10px 20px; }
  .notif:first-child {
    border-top: 0px; }

.main_pagination {
  display: block;
  text-align: center;
  margin-top: 10px; }
  .main_pagination ul {
    display: inline-block; }
  .main_pagination li {
    display: inline-block;
    padding: 6px 12px;
    font-weight: 700;
    background: #f7f7f7;
    border-radius: 3px;
    margin: 5px;
    color: #507299;
    transition: all 1s ease; }
    .main_pagination li a {
      color: #507299; }
    .main_pagination li:hover {
      cursor: pointer;
      background: #507299;
      color: #fff;
      transition: all 1s ease; }
      .main_pagination li:hover a {
        color: #fff; }

.parent_table {
  overflow-x: scroll; }
  .parent_table table {
    white-space: nowrap; }

.title_content {
  margin: 20px;
  color: #507299; }

.sp-icon, .sp-iconb:before {
  background-image: url(sprite-colour.png); }

.sp-icon-dark, .sp-icon-darkb:before {
  background-image: url(sprite-dark.png); }

.sp-icon-white, .sp-icon-whiteb:before {
  background-image: url(sprite-white.png); }

.sheets_paper {
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 10px 0 -6px #fff, 0 9px 5px -5px rgba(0, 0, 0, 0.2), 0 19px 0 -11px #fff, 0 18px 5px -10px rgba(0, 0, 0, 0.2); }

/*# sourceMappingURL=main-admin.css.map */
